section.category 
    .tags 
        p.tag.active popular
        p.tag romance
        p.tag action
        p.tag slice of life
        p.tag drama
        p.tag filter
    button.btn-primary 
        div 
            img(src="/icons/solar--arrow-right-up-outline.svg", alt="arrow right up")
        | explore more