nav
  section
    p.logo= logo
  section
    div.icon
      img(src="/icons/clarity--notification-line.svg", alt="clarity--notification-line")
      if isNotify 
        div.notify
    div.icon
      img(src="/icons/simple-line-icons--user.svg", alt="simple-line-icons--user")