.card 
    .fade-cover(style=x.color) 
        p(data-genre=x.genre)= x.title
    img(src="https://uploads.mangadex.org/covers/30f3ac69-21b6-45ad-a110-d011b7aaadaa/0f25315f-cce6-40a8-8ca7-c273cea9e053.png" alt="cover")